body{
	background-image: url("../bckg_for_galery.jpg");	
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: scroll;
	overflow-x: hidden;
}
#photocard {
	border-radius: 30px;
	box-shadow: 5px 5px 20px black;
}
a{
	color: white;
}
#block-position{
	top: 150px;
	left: 300px;
	width: 1500px;
	height: 800px;
	position: absolute;
}
#menu{
	width: 75px;
	height: 740px;
}
#footer{
	width: 200px;
	height: 200px;
}
#header{
	text-indent: 50px;
	font-family: cursive;
}